@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #1B692D;
}

a {
    cursor: pointer;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.app::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    clear: both;
    width: 100%;
}

.gradient {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #1E7332;
    border-radius: 100%;
    box-shadow: 0 0 250px 100px #1E7332;
}

#game_start, #game, #game_end {
    display: inline-block;
    text-align: center;
}

#game_start {
    width: 503px;
}

#game_end {
    display: none;
    width: 516px;
}

.game_name {
    margin-top: 30px;
    opacity: 0.85;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
}

.game_title {
    margin-top: 10px;
    line-height: 35px;
    opacity: 0.85;
    font-weight: bold;
    font-size: 24px;
    color: #fff; 
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #1C7430;
    opacity: 0.85;
    background: #fff;
    border-radius: 4px;
}

#game {
    display: none;
    width: 700px;
    text-align: left;
}

.game_menu {
    margin-bottom: 5px;
    display: block;
    text-align: right;
}

.button_new_game, .scores {
    display: inline-block;
    opacity: 0.8;
    font-family: "Open Sans";
    font-size: 14px;
    color: #FFFFFF;
}

.button_new_game {
    float: left;
    text-decoration: none;
}

.scores {
    text-align: right;
}

.game_field {
    
}

.wrapper { 
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 10px 20px 10px 0;
    width: 100px;
    height: 139px;
    vertical-align: top;
    perspective: 800px;
}

.wrapper:nth-child(6n) {
    margin-right: 0;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    background-size: 100% 100%;
    border-radius: 4px;
}

.card:hover {
    cursor: pointer;
}

.card figure  {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
}

.card .back_card {
    background: #1A6D2E url(../images/back.png) no-repeat;
    background-size: 100% 100%;
}

.card .face_card {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateY( -180deg );
}

.card.flipped {
    transform: rotateY( -180deg );
}